<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Choisissez votre fichier</title>
	<link rel="stylesheet" href="../../../../libs/bootstrap/bootstrap.min.css">
	<link href="../../../../assets/font/roboto.css" rel="stylesheet">
	<link href="../../../../assets/font/product-sans.css" rel="stylesheet">
	<link rel="stylesheet" href="drive.css">
	<link rel="icon" href="../../../../assets/img/squirrel.png"/>

	<script src="../../../../libs/jquery/jquery.min.js"
			onload="window.$ = window.jQuery = module.exports;"></script>
	<script src="../../../../libs/bootstrap/bootstrap.min.js"></script>
	<script src="drive.js" charset="utf-8"></script>
</head>

<body>
<header>
	<img src="../../../../assets/img/ic_drive.svg" alt="Google Drive icon"/>
	<h2>Drive</h2>
</header>
<ul id="list">
</ul>
<button id="select">Sélectionner</button>
</body>
</html>